body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E7E7E7;
    display: flex;
    flex-direction: row;
}

header {
    background-color: #FFE800;
    color: black;
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: space-around;
    box-shadow: 0 0 8px 1px #a9eeac;
    padding: 10px;
    position: fixed;
}


.logo{
    height: 50px;
    width: 150px;
    position: absolute;
    left: 30px;
}

.buscador{
    display: inline;
    justify-content: space-between;
}

.buscador button{
    position: absolute;
}

input{
    padding: 11px;
    width: 500px;
    border: none;
    border-radius: 6px;
    font-weight: 600px;
    
}

nav{   
    position: absolute;
    left: 150px;
    justify-content: space-evenly;
    margin-left: 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 0 5px;
    display: inline;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

#catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; 
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; 
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    padding: 15px;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.producto img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 10px;
}

.producto h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.producto span {
    display: block;
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.producto span:last-child {
    font-size: 16px;
    font-weight: bold;
    color: #3483FA;
    margin-top: 10px;
    
}

main{
    margin-top: 91px;
}

aside{
    margin-top: 91px;
}

.Contenedor-categorias{
    background-color: #ffffff;
    width: 250px;
    height: 100%;
    padding: 20px;
}

.Contenedor-categorias ul li{
    list-style: none;
    padding: 6px;
    color: #5b5b5b;
}


.Contenedor-categorias h3{
    margin-left: 12px;
    margin-top: 20px;
    color: #494949;
}

.footer-mercadolibre{
    position: fixed;
    right: 0;
    bottom: 0%;
    width: 100%;
    height: 20px;
    background-color: #3483FA;
    color: white;
    padding: 10px;
    text-align: center;
}
